@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* background: linear-gradient(#b4ccf5, #51b0ff); */
  background-image: url(./BackgroundCloud.png), linear-gradient(#b4ccf5, #51b0ff);
  background-size: cover;
  /*background: linear-gradient(#b4ccf5, #51b0ff);*/
  background-attachment: fixed;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

footer {
  vertical-align: middle;
  font-weight: bold;
  position: fixed;
  padding: 1% 0px 2% 0px;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Height of the footer*/
  height: 5%;
  background: #4785fb;
  border: none;
  color: white;
}