@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: linear-gradient(#b4ccf5, #51b0ff);
  background-attachment: fixed;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: #4785fb;
  border: none;
}