.logo {
  font-size: 2rem;
  /* color: white; */
  color: #4785fb;
  font-weight: bold;
  /* margin-top: 10%; */
}

.linkbutton{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4785fb;
}

.linkbutton:hover,
.linkbutton:active,
.linkbutton.active {
  color: grey;
}