.logo {
  font-size: 2rem;
  /* color: white; */
  color: #4785fb;
  font-weight: bold;
  /* margin-top: 10%; */
}

.linkbutton {
  font-size: 2rem;
  /* color: white; */
  color: #4785fb;
  font-weight: bold;
}

.linkbutton a:hover,
.linkbutton a:active,
.linkbutton a.active {
  color: white;
}